<h1>Emergencies</h1>
<ng-container *ngIf="isTokenAdded|async;">
  <p-table #dt [value]="emergencyList" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['emergencyId','requestTime','serialNumber','firstName']">
    <ng-template pTemplate="header">
      <tr>
        <th field="emergencyId">Emergency Id</th>
        <th pSortableColumn="name">Holder Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th field="serialNumber">Serial Number</th>
        <th pSortableColumn="requestTime">Request Time <p-sortIcon field="name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emergency>
      <tr>
        <td>{{emergency?.emergency?.emergencyId}}</td>
        <td>{{emergency?.holder?.firstName + ' ' + emergency?.holder?.lastName}}</td>
        <td>{{emergency?.device?.serialNumber}}</td>
        <td>{{emergency?.emergency?.requestTime | date}}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="!(isTokenAdded|async)">
  <p>Waiting for the token...</p>
</ng-container>
