<section class="emergencies">

  <div class="emergencies-header">
    <mat-toolbar color="primary">
      <span>Emergencies Overview</span>
    </mat-toolbar>
  </div>

  <div class="emergencies-body">

    <ng-container *ngIf="isTokenAdded|async;">
      <app-table-view [dataList]="emergencyList" [cols]="cols" [loading]="loading" [pageOptions]="pageOptions" [paginator]="paginator"> </app-table-view>
    </ng-container>

    <ng-container *ngIf="!(isTokenAdded|async)">
      <p>Waiting for the token...</p>
    </ng-container>

  </div>

</section>
